/*

Blacklens glype template by www.glypedesigns.com

*/

body{background-color:#000;
font-family:arial, sans-serif;
font-size:10pt;
margin:0em;
background-image:url(img/back.gif);



}
a,a:hover,a:visited
{
color:black;
}
.center
{width:783px;

margin:auto;padding:0em;
	background: url("img/center.gif")  repeat-y;


}

.bl {background: url("img/bottom.gif") 0 100%  no-repeat;}

.tl {background: url("img/top.jpg") no-repeat;}
.content
{margin:0em;
width:750px;
	text-align:left;padding:0px 10px;
}
#description
{
margin-left:190px;
margin-bottom:4em;
width:460px;padding:0px 20px 10px 20px;
}
#description h3

{color:#000;text-align:left;font-weight:normal;
font-size:1.5em;margin-bottom:1em;font-family:Tahoma, Geneva, sans-serif;
}
#description .text
{
font-size:10pt;font-family:arial, sans-serif;
}
.url_form
{
	background:url(img/urlbar.gif) no-repeat;
		width:393px;float:left;
	height:40px;

}
.url_form input
{
border:0px;
	color:#000;
	width:350px;height:35px;padding:6px 0px 0px 8px;
background-color:transparent;font-size:12pt;font-weight:bold;
}

.button
{
		
display:inline;
	width:62px;height:40px;background:url(img/urlbutton.gif) no-repeat;
	border:none;
	background-color:transparent;margin-left:-3px;
}


#options{clear:both;width:402px;}
#top_adsense{
float:right;	
}
h1{
text-align:left;
font-family:arial,sans serif;
font-size:28pt;letter-spacing:-2px;
font-weight:bold;margin:0em;
padding:.75em .5em 0em .5em;
color:#000;

}
#blue
{
color:blue
}
#pink
{
color:#ec008c;

}

h2{
text-align:left;
font-family:georgia, serif;
font-size:12pt;
letter-spacing:-0.1em;
font-weight:bold;
padding: .25em 1.25em .5em 1.25em;
margin:0em;
color:#8d8d8d;

}
#footer
{clear:both;
color:#000;	background:url(img/footer.gif) no-repeat;
width:698px;padding:2em 0.25em 0.5em .25em;margin:auto;
height:48px;font-size:.75em;
}
#footer a{color:black;}

.nav
{text-align:left;
width:697px;height:41px;
padding:10px;color:black;margin-left:1em;
background:url("img/nav.gif") no-repeat;
}
.nav a,.nav a:hover,.nav a:visited
{
color:black;
margin:.5em;
}

#sidebar
{float:left;
text-align:left;
width:185px;margin-left:.5em;
padding:0px 3px;
margin-bottom:4em;


}
#sidebar ul
{
margin:0em;padding:0em;list-style-type:none;
line-height:150%;
}
#sidebar h3
{
color:#000;
font-family:georgia, serif;
font-size:12pt;
}

#error
{
background-color:whitesmoke;
padding:5px;
margin:.5em 0em;
border-top:1px solid gray;
border-bottom:1px solid gray;


}
#options
{
display:none;
}
